.contact-title {
  padding-top: 50px;
}

.contact-title h1 {
  font-weight: 100;
  font-size: 60px;
  color: $yellow;
  text-align: center;
  margin: 0;
}

.contact-title p {
  font-weight: 100;
}

.form {
  padding-top: 45px;
}

@media only screen and (max-width : 767px) {
  .form {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .form {
    width: 70%;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  .form {
    width: 60%;
  }
}

@media only screen and (min-width : 1200px) {
  .form {
    width: 50%;
  }
}

.gform_wrapper ul {
  list-style: none;
}

.gform_wrapper label {
  font-weight: 100;
  color: white;
}

.gfield_required {
  color: $yellow;
  padding-left: 3px;
}

.ginput_container input, .ginput_container select, .ginput_container textarea {
  border: 1px solid $yellow;
  margin-bottom: 25px;
  width: 100%;
}

.gform_button {
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  background-color: $yellow;
}

.gform_button:hover, .gform_button:focus {
  color: white;
  background-color: $redOrange;
  text-decoration: none;
}