.navbar-default {
  background-color: $dark;
  background: $dark;
  border: none;   
  box-shadow: none;
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  padding: 0 20px 0 20px;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 25px;
  margin-top: 10px;
  text-shadow: none;
}

.navbar-default .navbar-brand:hover {
  color: $redOrange;
}


.navbar-default div.navbar-collapse{
  border-top:none;
  box-shadow:none;
}

.navbar-header {
  height: 70px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding-top: 18px;
  z-index: 999;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.nav.navbar-nav.navbar-right li {
            a {
            color: white;
            font-size: 18px;
            padding: 25px;
            } /* Normal */
            a:hover {
            color: white;
            background-color: $redOrange;
            } /* Hover */
}

.nav.navbar-nav.navbar-right > .active > a {
  background-color : $yellow;
  background-image: none;
} /* Active */
