#home {
	text-align: center;
	color: white;
	z-index: 10;
	h1{
		font-weight: 100;
		font-size: 100px;
		}
		
	h2{
		font-size: 30px;
		font-weight: 400;
		}
	}
.controls{
    -webkit-font-smoothing: subpixel-antialiased;
    position: absolute;
    right: 20px;
    top: 0;
}
.container {
    width: 100%;
    padding:0;
}
#output {
	
	height: 500px;
}