#home {
	
		
	h2{
		font-size: 30px;
		font-weight: 400;
		}
	}
.controls{
    -webkit-font-smoothing: subpixel-antialiased;
    position: absolute;
    right: 20px;
    top: 0;
}
.container {
    width: 100%;
    padding:0;
}
#output {
	
	height: 800px;
}
.intro {
    margin: -158px -180px;
    text-align: center;
    position: absolute;
    height: 360px;
    width: 400px;
    left: 46%;
    top: 50%;
    h1 {
    	text-align: center;
    	font-weight: 100;
	font-size: 100px;
	color: white;
    }
    h2{
    	text-align: center;
    	font-weight: 400;
	font-size: 24px;
	color: white;
    }
    }